*{
    margin: 0;
    padding: 0;
}
:root{
--primary-color:#edf2fc;
--secondary-color:black;

}

body{
height: 100vh;
min-height: 840px;
display: flex;
flex-direction: column;
background-color:var(--primary-color);
font-family: sans-serif;
}

nav{
width: 84%;
 padding: 20px 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: auto;

}
#logo{
width: 100px;
cursor: pointer;

}
#icon{
width: 30px;
text-align: right;
}

nav ul{
flex: 1;
text-align: right;


}
 
nav ul li{
display: inline-block;
list-style: none;
margin: 10px 20px;

}
nav ul li a:hover{
    color: #9767cd;
}
main{

    flex: 1;
    display: flex;
}

.info{
margin-left: 20px;
margin-top: 150px;
}
.info h1{
font-size: 70px;
color: var(--secondary-color);
margin-bottom: 20px;
}

.info h1 span {
 
   color: #9767cd;
}
.info p{
color: var(--secondary-color);
line-height: 22px;
}
.info a {
 background-color: var(--secondary-color) ;
 padding: 10px 18px;
 text-decoration: none;
 color: var(--primary-color);
 margin:30px 0 ;
 border-radius: 5px;
 display: inline-block;

}



.img-box{
position: relative;
flex: 1;
align-self: stretch;
}

.img-box img{
height:90%;
position: absolute;
left: 50%;
bottom: 0;
transform:translateX(-50%);
transition: bottom 1s , left 1s;

}
.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .main-img{
left:54px ;
transition: 3s ; 
}

.social-links{
margin-left: 20px;
height: 80px;
display: flex;
align-items: center;
position: fixed;
bottom: 0;

}
.social-links a{

    font-size: 30px;
    color: var(--secondary-color);
margin-right: 40px ;
}
.social-links a:hover{
color: #9767cd;

}